<html>
    <title>GreenMART</title>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <link rel="stylesheet" href="/css/signup.css">
    </head>
    <body>
        <div><%- include('../includes/navigation.ejs')%></div>
        <% if (errormessage) { %>
            <div class="user-message user-message--error">
              <%= errormessage %> 
            </div>
          <% } %>
        <div>
        <form action="/logins" method="POST" class="form-signin text-center">
      <img class="mb-4" src="/images/greenstore.jpg" height="15%">
      <h1 class="h3 mb-3 font-weight-normal">Login</h1>
      <label for="inputEmail" class="sr-only">Country</label>
      <input name="email" type="email" id="inputEmail" class="<%= validationErrors.find(e=>e.param=='email')?'invalid form-control':'form-control' %>" placeholder="Email" required autofocus>
      <label for="inputPassword" class="sr-only">City</label>
      <input name="password" type="password" id="inputPassword" class="<%= validationErrors.find(e=>e.param=='password')?'invalid form-control':'form-control' %>" placeholder="Password" required>
      <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
      <a href="/loginemployee">Login as Employee</a>
    </form>
      
    </div>
    </body>
</html>