<html>
    <title>GreenMART</title>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
        <link rel="stylesheet" href="/css/stores.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> 
    </head>
    <body>
        <div><%- include('../includes/navigation.ejs')%></div>
        <div class="container">
        <div class="jumbotron">Select Nearby GreenMART</div>
        
        <div class="right"><% storearray.forEach(store => { %>
            <div class="store"> <%= store.place %>  
            <div id="full-stars-example">
                <div class="rating-group">
                    
                    <% for(let index=0;index<store.rating;index++ ) { %>
                        <i class="rating__label rating__icon rating__icon--star fa fa-star"></i>
                    <% } %>
                </div>
                
            </div>
            <div >
                
                <form action="/items" method="POST">
                <input type="hidden" name="storePIN" value="<%= store.storePIN %>" >
                <input type="submit" value="View" class="btn btn-warning view"></form>
                
            </div>
            
        </div>
        <% }) %> </div>
        </div>
    </body>
</html>